#Header{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

*{
    box-sizing: border-box;
}

form{
    text-align: center;
}

#About{
    padding-bottom: 5rem;
}

#Submit{
    text-align: center;
    color: white;
    background: rgb(89, 212, 72);
    font-weight: bolder;
    border-right-style: solid;
    padding: 1rem 5rem;
}

input{
}

input[placeholder]{
    color:grey  !important;
    font-weight: bold;
}

::placeholder {
    color: red;
}

span{
    color: red;
    font-weight: 100;
    margin-left: 1%;
}

body {
    color: white;
    font-size: larger;
    font-weight: bolder;
    background: white url("./Images/BG2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


/* COME BACK TO THIS STYLING

form{
    text-align: center;
    max-width: 450px;
    margin: auto;
}

form > div{
    margin-top: 5px;
    position: relative;
    background: white;
    border-bottom: 1px solid #ccc;
}

form > div > label{
    opacity: 0.3;
    font-weight: bold;
    position: absolute;
}*/